{% extends 'base.html.twig' %}

{% block title %}Coordinador{% endblock %}

{% block body %}
    <h1>Coordinador</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coordinador.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ coordinador.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ coordinador.apellidos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coordinador_index') }}">back to list</a>

    <a href="{{ path('coordinador_edit', {'id': coordinador.id}) }}">edit</a>

    {{ include('coordinador/_delete_form.html.twig') }}
{% endblock %}
